
<!DOCTYPE html>
<!-- Coding by CodingLab || www.codinglabweb.com -->
<html lang="en">

<body>
    

    <!-- Home -->
    <section class="home">
        <div class="form_container">
        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>
